// #### HEADER ####
include mobile-menu.pug
header.app-bar.header#header
  .container
    .header-content
      nav.nav-menu
        |
        |
        button.btn-icon.waves-effect.sidenav-trigger.show-md-down(
          id="mobile_menu"
          type="button"
        )
          i.material-icons menu
        .logo
          |
          |
          a(href="#home")
            img(
              src=assets + brand.starter.img
              alt="logo"
            )
          |
          |
        .scrollactive-nav.show-lg-up
          ul
            li
              a.btn.btn-flat.droplist-trigger-hover.waves-effect(href='#' data-target='dropdown2') Menu 2
              ul#dropdown2.dropdown-content
                li
                  a(href='#!') two
                li
                  a.droplist-trigger-hover-child(href='#!' data-target='dropdown2_1') one &gt;
                  ul#dropdown2_1.dropdown-content.child-menu
                    li
                      a(href='#!') one
                    li
                      a(href='#!') two
                    li
                      a(href='#!') three
                    li
                      a(href='#!') four
                li
                  a(href='#!') three
                li
                  a.droplist-trigger-hover-child(href='#!' data-target='dropdown2_2') one &gt;
                  ul#dropdown2_2.dropdown-content.child-menu
                    li
                      a(href='#!') one
                    li
                      a.droplist-trigger-hover-child(href='#!' data-target='dropdown2_2_1') two &gt;
                      ul#dropdown2_2_1.dropdown-content.child-menu
                        li
                          a(href='#!') one
                        li
                          a(href='#!') two
                        li
                          a(href='#!') three
                        li
                          a(href='#!') four
                    li
                      a.droplist-trigger-hover-child(href='#!' data-target='dropdown2_2_2') three &gt;
                      ul#dropdown2_2_2.dropdown-content.child-menu
                        li
                          a(href='#!') one
                        li
                          a(href='#!') two
                        li
                          a(href='#!') three
                        li
                          a(href='#!') four
                    li
                      a(href='#!') four
                li
                  a(href='#!') four
            li
              a.btn.btn-flat.droplist-trigger-hover.waves-effect(href='#' data-target='dropdown1') Menu 1
              ul#dropdown1.dropdown-content
                li
                  a(href='#!') two
                li
                  a.droplist-trigger-hover-child(href='#!' data-target='dropdown1_1') one &gt;
                  ul#dropdown1_1.dropdown-content.child-menu
                    li
                      a(href='#!') one
                    li
                      a(href='#!') two
                    li
                      a(href='#!') three
                    li
                      a.droplist-trigger-hover-child(href='#!' data-target='dropdown1_1_1') four &gt;
                      ul#dropdown1_1_1.dropdown-content.child-menu
                        li
                          a(href='#!') one
                        li
                          a(href='#!') two
                        li
                          a(href='#!') three
                        li
                          a(href='#!') four
                li
                  a(href='#!') three
                li
                  a.droplist-trigger-hover-child(href='#!' data-target='dropdown1_2') one &gt;
                  ul#dropdown1_2.dropdown-content.child-menu
                    li
                      a(href='#!') one
                    li
                      a(href='#!') two
                    li
                      a(href='#!') three
                    li
                      a(href='#!') four
                li
                  a(href='#!') four
      nav.user-menu
        |
        |
        button.btn.btn-flat.waves-effect.show-lg-up(type="button") Login
        |
        |
        button.btn.waves-effect.primary(type="button") Register
        |
        |
        span.spacer.vertical-divider.show-lg-up
        include ./settings
        +settings("false")
|
|
// #### END HEADER ####