// #### HEADER ####
header.app-bar.header#header
  .container
    .header-content
      nav.nav-menu.flex-grow-1
        |
        |
        button.btn-icon.waves-effect.sidenav-trigger.show-md-down(
          id="mobile_menu"
          type="button"
        )
          i.material-icons menu
        .logo
          |
          |
          a(href=link.starter.home)
            include ../logo.pug
            +logo('landscape')
          |
          |
        .hide-xs-down.flex-grow-1
          include ./top-nav/search-field
          +search-field()
      include ./top-nav/user-menu
  .hidden-sm-up
    include ./top-nav/search-field
    +search-field()
// #### END HEADER ####