$flag: '../images/flag-logo.png';

@mixin flag-icon{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  @include margin-right(5px);
  top: 1px;
  background: url($flag) no-repeat transparent;
  background-size: 16px auto;
  &.ar {
    background-position: 0 3px;
  }
  &.zh {
    background-position: 0 -12px
  }
  &.en {
    background-position: 0 -28px
  }
  &.de {
    background-position: 0 -44px
  }
  &.id {
    background-position: 0 -62px
  }
  &.pt {
    background-position: 0 -79px
  }
}

.popover {
  @include palette-background-paper;
  width: 200px;
}

.switch-toggle {
  margin-top: 0;
}

#menu_blank {
  height: 0;
}

.header {
  @include palette-text-primary;
  @include palette-background-paper;
  box-shadow: none;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  .container {
    #main-wrap & {
      padding: 0;
      @include breakpoints-up(md) {
        padding: 0 $spacing3
      }
    }
  }
  &.fixed {
    position: fixed;
    top: 0;
    @include shadow4;
    @include palette-background-paper;
    .vertical-divider {
      min-height: $spacing3;
    }
    .logo {
      img {
        height: 32px;
        width: 32px
      }
    }
    nav {
      padding: spacing(1, 0);
    }
  }
}


.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & nav {
    transition: all 0.3s ease;
    align-items: center;
    padding: $spacing1;
    margin: 6px 0;
    display: flex;
    & > * {
      margin: 0 $spacing1
    }
    .menu-setting {
      margin: 0;
      a {
        padding: spacing(0.5, 1);
        display: block;
      }
    }
  }
  .collection-header {
    text-transform: capitalize;
    font-size: 0.875rem;
    @include palette-text-secondary;
  }
  .collection, .collection-item, .collection-header {
    border: none !important;
  }
  .logo {
    & a {
      text-decoration: none;
      display: block;
    }
    & img {
      transition: all 0.3s ease;
      height: 48px;
      width: 48px;
    }
  }
}

.nav-menu {
  .scrollactive-nav {
    list-style: none;
    display: flex;
    @include padding-left($spacing5);
    li.current {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background: $palette-primary-main;
        bottom: 4px;
        left: 0;
      }
    }
    .btn  {
      margin: 0 $spacing1;
      list-style: none;
      position: relative;
      display: inline-block;
      padding: spacing(0, 1);
      height: auto;
      @include palette-text-primary;
    }
  }
  .dropdown-content {
    @include shade;
    padding: 4px;
    overflow: visible !important;
    li {
      border-radius: $rounded-small;
      a.menu-list {
        text-transform: capitalize;
        font-size: 14px;
        i {
          margin: 0
        }
      }
    }
    .child-menu {
      left: -100%
    }
  }
}

.lang-menu {
  .flag {
    margin: 0;
    & i {
      margin-left: $spacing2;
      @include flag-icon;
    }
  }
}

.collection .collection-item.avatar :not(.circle-clipper) > .circle.flag {
  width: auto;
  height: auto;
  overflow: visible;
}

.lang-opt {
  display: block;
  padding: 0 !important;
  @include palette-text-primary;
}

.lang-list {
  min-height: 0 !important;
}

.vertical-divider {
  margin: 0 $spacing1;
  border-left: 1px solid;
  @include palette-divider;
  height: 100%;
  min-height: $spacing6
}

.setting {
  .icon {
    transition: all 0.3s ease;
    @include palette-text-secondary;
  }
  .active {
    transform: rotate(30deg)
  }
}

.mode-menu, .lang-menu {
  text-transform: capitalize
}

.flex-menu {
  display: flex;
  justify-content: flex-start;
  label {
    text-transform: capitalize;
  }
}

.mobile-menu {
  @include margin-right($spacing1);
  .bar {
    @include palette-background-text-secondary;
    &:after, &:before {
      @include palette-background-text-secondary;
    }
  }
}

.menu-list {
  text-transform: capitalize
}

.dropdown-content.setting {
  width: 200px !important;
  border-radius: 12px;
}


/* Top Multi Lv Menu */
.submenu-hover {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  background: none;
}

.parent-hover {
  position: relative;
  &:hover {
    > .submenu-hover {
      display: block;
    }
  }
}

.rounded-menu {
  border-radius: 10px;
}

/* Top Mega Menu */
.mega-menu-root {
  transform: scaleX(1) scaleY(1) !important;
  &.dropdown-content {
    position: fixed;
    overflow: visible;
    width: 100% !important;
    left: 0 !important;
    top: 70px !important;
    .theme--dark & {
      box-shadow: 0px 10px 3px 0px rgba(64, 64, 64, 1), 0px 1px 1px 0px rgba(42, 42, 42, 1), 0px 2px 1px -1px rgba(20, 20, 20, 1)
    }
    .theme--light & {
      box-shadow: 0 10px 12px 2px rgba(0, 0, 0, 0.06);
    }
  }
}

.multi-menu-root {
  .dropdown-content {
    width: 200px !important;
  }
}

.mega-menu {
  @include palette-background-paper;
  position: relative;
  margin-top: 20px;
  box-shadow: none;
  border-radius: 0;
  max-height: 480px;
  overflow: auto;
}

.thumb-menu {
  width: 200px;
  height: 78px;
  border-radius: $rounded-small;
  margin-bottom: $spacing2
}

.title-mega {
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 11px;
  padding: spacing(0, 2)
}

.main-menu, .multi-menu {
  flex: 1;
  .btn {
    text-transform: capitalize;
  }
}

.main-menu {
  .btn {
    margin: spacing(0, 1);
    padding: $spacing1;
  }
}

.multi-menu {
  .btn {
    margin: spacing(0, 0.5);
    padding: $spacing1;
  }
}