include ../../paper.pug

+paper($t.common.blog_about, 'account_circle', 'commodo augue. In dictum leo nec odio euismod pretium.')
  div
    ul.collection
      li.collection-item.avatar
        i.icon.primary.material-icons.circle calendar
        span.title #{$t.common.blog_born}
        p Jan 9, 1974
      li.collection-item.avatar
        i.icon.primary.material-icons.circle local_phone
        span.title #{$t.common.blog_phone}
        p (+62)8765432190
      li.collection-item.avatar
        i.icon.primary.material-icons.circle location_on
        span.title #{$t.common.blog_address}
        p Chicendo Street no.105  Block A/5A - Barcelona, Spain