.blog-components
  include ./subscribe-widget
  .py-6
  include ./profile-widget
  .py-6
  include ./post-widget
  .py-6
  include ./comment-widget
  .py-6
  include ./list-widget
  .py-6
  include ./gallery-widget
