extends ../layouts/app.pug

block variables
  - var pageTitle = " Blog"
  - var pageName = "blog"

block content
  include ../components/cards/post-card.pug
  div#blog-page
    .main-wrap
      include ../components/header/blog-header.pug
      .container-general
        .container
          .row
            .col-xs-12
              include ../components/blog/headline.pug
          .row.mt-8
            .col-md-6.px-3
              +post-cards('Maecenas rutrum dolor sed nisi', 'Proin pretium arcu eget metus porta consectetur Pellentesque habitant', '12 Nov 2020', 'landscape', 'full', 'https://source.unsplash.com/random', link.starter.blogDetail)
            .col-md-6.px-4
              +post-card('Maecenas rutrum dolor sed nisi', 'Proin pretium arcu eget metus porta consectetur Pellentesque habitant', '12 Nov 2020', 'landscape', 'full', 'https://source.unsplash.com/random', link.starter.blogDetail)
          .row.mt-6
            .col-md-8
              - var n = 0
              while n < 6
                div(data-index=n++ class= n > 0 ? 'mt-15' : '')
                  +post-card('Maecenas rutrum dolor sed nisi', 'Maecenas rutrum dolor sed nisi maximus rhoncus. Nunc vel dignissim enim. Proin pretium arcu eget', '12 Nov 2020', 'portrait', 'full', 'https://source.unsplash.com/random', link.starter.blogDetail)
              .arrow
                .row.justify-space-between.mt-5
                  .btn-flat
                    .material-icons arrow_back
                    | #{$t.common.btn_prev}
                  .btn-flat
                    | #{$t.common.btn_next}
                    .material-icons arrow_forward
            .col-md-4
              include ../components/blog/sidebar/sidebar.pug
      #footer
        include ../components/footer/main.pug
