extends ../layouts/app.pug

block variables
  - var pageTitle = " Card Collection"
  - var pageName = "collection"
block content
  div
    #home
    .main-wrap
      .pa-6(style='width: 900px')
        include ../components/cards/profile-card
        +profile-card('https://source.unsplash.com/random', undefined, 'John Dalton', 'Web Designer', 100, 10, 12, 'full', 'portrait')
        br/
        +profile-card('https://source.unsplash.com/random', undefined, 'John Dalton', 'Web Designer', 100, 10, 12, 'oval', 'landscape')
        br/
        include ../components/cards/product-card
        +product-card(3, 20, 'https://source.unsplash.com/random', 'Sed lacinia velit', 'Proin pretium arcu eget metus porta consecteturc', 'oval', 'portrait')
        +product-card(3, 20, 'https://source.unsplash.com/random', 'Sed lacinia velit', 'Proin pretium arcu eget metus porta consecteturc', 'round', 'landscape')
        br/
        include ../components/cards/media-card
        +media-card('Sed lacinia velit, ut malesuada eros interdum a', 'portrait', 'video', 'https://source.unsplash.com/random', '')
        +media-card('Sed lacinia velit, ut malesuada eros interdum a', 'portrait', 'photo', 'https://source.unsplash.com/random', '')
        br/
        include ../components/cards/post-card
        div(style='width: 300px')
          +post-card('Maecenas rutrum dolor sed nisi', 'Proin pretium arcu eget metus porta consectetur Pellentesque habitant', '12 Nov 2021', 'portrait', 'oval', 'https://source.unsplash.com/random', '#')
        +post-card('Maecenas rutrum dolor sed nisi', 'Vestibulum faucibus eget erat eget pretium. Donec commodo convallis ligula, eget suscipit orci. Suspendisse potenti. Proin pretium arcu eget metus porta consectetur Pellentesque habitant. Vestibulum faucibus eget erat eget pretium. Donec commodo convallis ligula, eget suscipit orci. Suspendisse potenti. Proin pretium arcu eget metus porta consectetur Pellentesque habitant', '12 Nov 2021', 'landscape', 'over', 'https://source.unsplash.com/random', '#')
        br/
        include ../components/cards/news-card
        div(style='width: 300px')
          +news-card('Ut sed eros finibus, placerat orci id, dapibus mauris. Vestibulum consequat hendrerit lacus.', 'news', 'portrait', 'over', 'https://source.unsplash.com/random', '#')
        +news-card('Ut sed eros finibus, placerat orci id, dapibus mauris. Vestibulum consequat hendrerit lacus.', 'news', 'landscape', 'oval', 'https://source.unsplash.com/random', '#')
        