.list-style.mt-15
  include ./product-widget
  .py-6
  include ./people-widget
  .py-6
  include ./news-widget
  .py-6
  include ./trending-widget
  .py-6
  include ./image-widget
  .py-6
  include ./help-widget
