.comment-components
  .collection
    a.collection-item.waves-effect.avatar
      i.material-icons.circle info
      span.help-item #{$t.common.list_report}
    a.collection-item.waves-effect.avatar
      i.material-icons.circle help
      span.help-item #{$t.common.list_report}
    a.collection-item.waves-effect.avatar
      i.material-icons.circle radio_button_checked
      span.help-item #{$t.common.list_opt} 1
    a.collection-item.waves-effect.avatar
      i.material-icons.circle check
      span.help-item #{$t.common.list_opt} 2
