.blog-components
  .card.blog-headline.waves-effect
    .card-image
      |
      |
      img.white--text.align-end(src='https://source.unsplash.com/random' height='460px' alt='headline')/
      |
      |
      .card-title
        |
        |
        a.anchor-content(href='#!')
          span.headline-title.use-text-title
            | Pellentesque habitant morbi tristique senectus 
          span.text-h6.use-text-subtitle
            | Multiple lines of text that form the lede, informing new readers quickly and efficiently about what&apos;s most interesting in this post&apos;s contents.
        |
        |
